## Generic exclusions
# System files
.DS_Store
*.asv
*~
*.tmp

# Archives etc
*.tar.gz
*.zip

# Left by RStudio
.Rhistory

## Project-specific exclusions
# e.g. Subject data
*.gii
*.nii
hidden
Results
Figures